<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- 11.115 Step1: Update the link href. It is not efficient,
        therefore  the routerLink will be used.-->
        <!--<li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/servers">Servers</a></li>
        <li role="presentation"><a href="/users">Users</a></li>-->
        <!-- 11.117 Step1: Styling the active link we can use the 
          routerLinkActive="active".-->
          <!-- 11.117 Step2: Styling works, but Home seems always active. 
            We need to correct it. routerLinkActiveOptions makes it. -->
        <li role="presentation" routerLinkActive="active" 
        [routerLinkActiveOptions] = "{exact: true}"><a routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/servers">Servers</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/users">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--<app-home></app-home>-->
      <!-- We have to use router-outlet element to use the appRoutes.
      It complies/renders the source files and display the modified (contains the routes) one.-->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div>-->
</div>
